.perspective {
    perspective: 1000px;
}

.card-container {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    min-height: 500px;
}

.card-container.rotate {
    transform: rotateY(180deg);
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}